[submodule "ext/k"]
	path = ext/k
	url = https://github.com/kframework/k/
[submodule "ext/tezos"]
	path = ext/tezos
	url = https://gitlab.com/tezos/tezos.git
[submodule "ext/pandoc-tangle"]
	path = ext/pandoc-tangle
	url = https://github.com/ehildenb/pandoc-tangle.git
[submodule "ext/blockchain-k-plugin"]
	path = ext/blockchain-k-plugin
	url = https://github.com/sskeirik/blockchain-plugin
