[submodule "ext/k"]
	path = ext/k
	url = https://github.com/kframework/k/
	ignore = untracked
[submodule "ext/tezos"]
	path = ext/tezos
	url = https://gitlab.com/tezos/tezos.git
	ignore = untracked
[submodule "web/k-web-theme"]
	path = web/k-web-theme
	url = https://github.com/runtimeverification/k-web-theme
