*.address
/.build
*.cross
diff_file.txt
*.expanded
*.extracted
.failure
fix-address.timestamp
*.input
.kompile*
.kprove*
.krun*
.node-pid
notes.txt
*.output
run-tests-ci.sh.output
run-tezos.timestamp
*.swp
template.tz
.tezos-ut*
