# Temporary files for developers
# ------------------------------

/tmp

# Build products
# --------------

*.address
/.build
*.cross
diff_file.txt
*.expanded
*.extracted
.failure
fix-address.timestamp
*.input
.kompile*
.kprove*
.krun*
.node-pid
notes.txt
*.output
run-tezos.timestamp
*.swp
template.tz
.tezos-ut*

tests/proofs/liquidity-baking/lb-report.pdf
